.cart__basket {
  display: flex;
  margin-top: 10px;
}
.cart__image {
  margin-top: 25px;
  max-width: 100px;
  max-height: 200px;
}
.cart__info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  justify-content: space-between;
}
.cart_ptags {
  margin: 0px;
  padding: 0px;
}
.cart__button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #0a0907 #846a29;
  color: #111;
}
