.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__left {
  width: 60%;
}
.checkout__right {
  width: 30%;
  padding: 5px;
}
.checkout__ad {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
