.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  max-width: 50px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  width: 50%;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  outline: 2px solid #cd9042;
  width: 100%;
}

.header__searchIcon {
  padding: 8px;
  height: 23px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__optionLineOne {
  font-size: 8px;
}
.header__optionLineTwo {
  font-size: 10px;
  font-weight: 800;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.basket {
  color: white;
}
.header__basketCount {
  margin-left: 10px;
  color: white;
  margin-right: 10px;
}
