.product {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: max-content;
  min-width: 25vh;
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 30px;
}

.product__price {
  margin-top: 5px;
}
.product__info {
  max-height: 200px;
  width: 100%;
}
.product__info > p,
.product__rating > p {
  margin: 0px;
}
.product__rating {
  display: flex;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
